<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off">
    <span class='name'>T:</span>
    <span class='value'>{{#if_null flags.wall-height.top}}
        <i class="fas fa-infinity"></i>
    {{else}}
        {{{flags.wall-height.top}}}
    {{/if_null}}
    </span>
    <span class='name'>B:</span>
    <span class='value'>{{#if_null flags.wall-height.bottom}}
        <i class="fas fa-infinity"></i>
    {{else}}
        {{{flags.wall-height.bottom}}}
    {{/if_null}}
    </span>
</form>