<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off">
    <span class='name'>T:</span>
    <span class='value'>{{#if_null flags.wallHeight.wallHeightTop}}
        <i class="fas fa-infinity"></i>
    {{else}}
        {{{flags.wallHeight.wallHeightTop}}}
    {{/if_null}}
    </span>
    <span class='name'>B:</span>
    <span class='value'>{{#if_null flags.wallHeight.wallHeightBottom}}
        <i class="fas fa-infinity"></i>
    {{else}}
        {{{flags.wallHeight.wallHeightBottom}}}
    {{/if_null}}
    </span>
</form>